# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the Go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (move to vendor/ if you are using Go modules)
vendor/

# Go workspace file
go.work
go.work.sum

# Go module files
go.sum
